---
---
<header transition:persist>
    <div class="box-border flex h-16 justify-between bg-black align-middle">
        <dev class="bg-white sm:w-20"></dev>
        <dev class="items-center justify-between"></dev>
        <dev class="bg-white sm:w-20"></dev>
      </div>
</header>